In [88]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
from datetime import datetime

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/garanti-bbva-data-camp/work_experiences.csv
/kaggle/input/garanti-bbva-data-camp/languages.csv
/kaggle/input/garanti-bbva-data-camp/submission.csv
/kaggle/input/garanti-bbva-data-camp/test_users.csv
/kaggle/input/garanti-bbva-data-camp/skills.csv
/kaggle/input/garanti-bbva-data-camp/train_users.csv
/kaggle/input/garanti-bbva-data-camp/education.csv

## Reading datas

In [89]:
train_users = pd.read_csv('/kaggle/input/garanti-bbva-data-camp/train_users.csv')
test_users = pd.read_csv('/kaggle/input/garanti-bbva-data-camp/test_users.csv')
submission  = pd.read_csv('/kaggle/input/garanti-bbva-data-camp/submission.csv')
work_experiences = pd.read_csv('/kaggle/input/garanti-bbva-data-camp/work_experiences.csv')
languages = pd.read_csv('/kaggle/input/garanti-bbva-data-camp/languages.csv')
skills = pd.read_csv('/kaggle/input/garanti-bbva-data-camp/skills.csv')
education = pd.read_csv('/kaggle/input/garanti-bbva-data-camp/education.csv')

In [90]:
#ana dataframe lerin indexleri user_id olarak ayarlandı
train_users = train_users.set_index("user_id")
test_users = test_users.set_index("user_id")
submission = submission.set_index("user_id")

In [91]:
def tr_eng(x):
    x = x.str.upper()
    tr_engs = str.maketrans("ÇĞİÖŞÜ","CGIOSU")
    x = x.str.translate(tr_engs)
    return x

def tr_eng_str(x):
    x = x.upper()
    tr_engs_str = str.maketrans("ÇĞİÖŞÜ","CGIOSU")
    x = x.translate(tr_engs_str)
    return x

## Editing user datas

In [92]:
df = pd.concat([train_users, test_users])

df['industry'] = tr_eng(df['industry'])
df['location'] = tr_eng(df['location'])


sehirler=["Adana", "Adıyaman", "Afyon", "Ağrı", "Amasya", "Ankara", "Antalya", "Artvin", "Aydın", "Balıkesir", "Bilecik", "Bingöl", "Bitlis", "Bolu", "Burdur", "Bursa", "Çanakkale", "Çankırı", "Çorum", "Denizli", "Diyarbakır", "Edirne", "Elazığ", "Erzincan", "Erzurum", "Eskişehir", "Gaziantep", "Giresun", "Gümüşhane", "Hakkari", "Hatay", "Isparta", "İçel", "Mersin", "İstanbul", "İzmir", "Kars", "Kastamonu", "Kayseri", "Kırklareli", "Kırşehir", "Kocaeli", "Konya", "Kütahya", "Malatya", "Manisa", "Kahramanmaraş", "Mardin", "Muğla", "Muş", "Nevşehir", "Niğde", "Ordu", "Rize", "Sakarya", "Samsun", "Siirt", "Sinop", "Sivas", "Tekirdağ", "Tokat", "Trabzon", "Tunceli", "Şanlıurfa", "Uşak", "Van", "Yozgat", "Zonguldak", "Aksaray", "Bayburt", "Karaman", "Kırıkkale", "Batman", "Şırnak", "Bartın", "Ardahan", "Iğdır", "Yalova", "Karabük", "Kilis", "Osmaniye", "Düzce"
]
ulkeler = ['Afghanistan', 'Aland Islands', 'Albania', 'Algeria', 'American Samoa', 'Andorra', 'Angola', 'Anguilla', 'Antarctica', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Aruba', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bermuda', 'Bhutan', 'Bolivia, Plurinational State of', 'Bonaire, Sint Eustatius and Saba', 'Bosnia and Herzegovina', 'Botswana', 'Bouvet Island', 'Brazil', 'British Indian Ocean Territory', 'Brunei Darussalam', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon', 'Canada', 'Cape Verde', 'Cayman Islands', 'Central African Republic', 'Chad', 'Chile', 'China', 'Christmas Island', 'Cocos (Keeling) Islands', 'Colombia', 'Comoros', 'Congo', 'Congo, The Democratic Republic of the', 'Cook Islands', 'Costa Rica', "Côte d'Ivoire", 'Croatia', 'Cuba', 'Curaçao', 'Cyprus', 'Czech Republic', 'Denmark', 'Djibouti', 'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt', 'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia', 'Ethiopia', 'Falkland Islands (Malvinas)', 'Faroe Islands', 'Fiji', 'Finland', 'France', 'French Guiana', 'French Polynesia', 'French Southern Territories', 'Gabon', 'Gambia', 'Georgia', 'Germany', 'Ghana', 'Gibraltar', 'Greece', 'Greenland', 'Grenada', 'Guadeloupe', 'Guam', 'Guatemala', 'Guernsey', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti', 'Heard Island and McDonald Islands', 'Holy See (Vatican City State)', 'Honduras', 'Hong Kong', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran, Islamic Republic of', 'Iraq', 'Ireland', 'Isle of Man', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jersey', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati', "Korea, Democratic People's Republic of", 'Korea, Republic of', 'Kuwait', 'Kyrgyzstan', "Lao People's Democratic Republic", 'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg', 'Macao', 'Macedonia, Republic of', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta', 'Marshall Islands', 'Martinique', 'Mauritania', 'Mauritius', 'Mayotte', 'Mexico', 'Micronesia, Federated States of', 'Moldova, Republic of', 'Monaco', 'Mongolia', 'Montenegro', 'Montserrat', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'New Caledonia', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Niue', 'Norfolk Island', 'Northern Mariana Islands', 'Norway', 'Oman', 'Pakistan', 'Palau', 'Palestinian Territory, Occupied', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Pitcairn', 'Poland', 'Portugal', 'Puerto Rico', 'Qatar', 'Réunion', 'Romania', 'Russian Federation', 'Rwanda', 'Saint Barthélemy', 'Saint Helena, Ascension and Tristan da Cunha', 'Saint Kitts and Nevis', 'Saint Lucia', 'Saint Martin (French part)', 'Saint Pierre and Miquelon', 'Saint Vincent and the Grenadines', 'Samoa', 'San Marino', 'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore', 'Sint Maarten (Dutch part)', 'Slovakia', 'Slovenia', 'Solomon Islands', 'Somalia', 'South Africa', 'South Georgia and the South Sandwich Islands', 'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'South Sudan', 'Svalbard and Jan Mayen', 'Swaziland', 'Sweden', 'Switzerland', 'Syrian Arab Republic', 'Taiwan, Province of China', 'Tajikistan', 'Tanzania, United Republic of', 'Thailand', 'Timor-Leste', 'Togo', 'Tokelau', 'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan', 'Turks and Caicos Islands', 'Tuvalu', 'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom', 'United States', 'United States Minor Outlying Islands', 'Uruguay', 'Uzbekistan', 'Vanuatu', 'Venezuela, Bolivarian Republic of', 'Viet Nam', 'Virgin Islands, British', 'Virgin Islands, U.S.', 'Wallis and Futuna', 'Yemen', 'Zambia', 'Zimbabwe']



for i in sehirler:
    i = tr_eng_str(i)
    df.loc[df['location'].str.contains(i,na=False),'location'] = i
    
    
    
for i in ulkeler:
    i = tr_eng_str(i)
    df.loc[df['location'].str.contains(i,na=False),'location'] = i

    
    
list = df['industry'].value_counts().index

for i in list:
    df.loc[df['industry'].str.contains(i,na=False),'industry'] = i

## Editing Work Experiences

In [93]:
work_experiences.groupby('user_id', group_keys=False).apply(lambda x: x.sort_values(['start_year_month'], ascending=False).head(1)).reset_index(drop=True)

       user_id  company_id            location  start_year_month
0            0           0  Serbest Çalışmalar            200509
1            2          10      Mersin, Turkey            201806
2            5          15            İstanbul            201706
3            7          20              Elazığ            201812
4           10          26    Istanbul, Turkey            201805
...        ...         ...                 ...               ...
57074    66269         264    Istanbul, Turkey            201812
57075    66270        4046   İstanbul, Türkiye            201812
57076    66271        1495     Kocaeli, Turkey            201910
57077    66272         944    Istanbul, Turkey            201812
57078    66273        5863                 NaN            201910

[57079 rows x 4 columns]

In [94]:
work_experiences['start_year_month'] = work_experiences['start_year_month'].map(str)
work_experiences = work_experiences[~work_experiences["start_year_month"].str.contains("2019")]

work_experiences['start_year_month'] = pd.to_datetime(work_experiences['start_year_month'].astype(str), format='%Y%m')

works = work_experiences.groupby(["user_id"])
work = works.agg(minimum_date = ('start_year_month', np.min), maximum_date = ('start_year_month', np.max))

work_experiences.drop(['location','company_id'], inplace=True, axis=1)
work_exp = work_experiences.groupby(['user_id']).count()

work_experiences = pd.merge(work_exp,work, on="user_id")

In [95]:
#Let's calculate the total working month of people

work_experiences['work_exp'] = (datetime.strptime('01-01-2019', '%m-%d-%Y') - work_experiences['minimum_date'])/30
work_experiences['work_exp'] = work_experiences['work_exp'].map(str)
new = work_experiences['work_exp'].str.split(" ", n = 1, expand = True)
work_experiences['work_exp'] = new[0]

#Let's calculate the total working time of people in their last workplace

work_experiences['last_date'] = (datetime.strptime('01-01-2019', '%m-%d-%Y') - work_experiences['maximum_date'])/30
work_experiences['last_date'] = work_experiences['last_date'].map(str)
new1 = work_experiences['last_date'].str.split(" ", n = 1, expand = True)
work_experiences['last_date'] = new1[0]

In [96]:
work_experiences['numbers_work_change'] = work_experiences['start_year_month']
work_experiences.drop(['start_year_month','minimum_date','maximum_date'], inplace=True, axis=1)


work_experiences['work_change_ratio'] = work_experiences['work_exp'].astype(int) / work_experiences['numbers_work_change'].astype(int)
work_experiences['work_change_ratio'] = work_experiences['work_change_ratio'] / work_experiences['work_change_ratio'].max()

In [97]:
work_experiences

        work_exp last_date  numbers_work_change  work_change_ratio
user_id
0            162       162                    2           0.130645
2             25         7                    3           0.013441
5             19        19                    1           0.030645
7             30         1                    4           0.012097
10            65         8                    3           0.034946
...          ...       ...                  ...                ...
66269        179         1                    5           0.057742
66270         50         1                    2           0.040323
66271        209        26                    9           0.037455
66272         79         1                    5           0.025484
66273         55         3                    8           0.011089

[53002 rows x 4 columns]

## Editing Languages

In [98]:
lang_rank = {
    'elementary': 1,
    'limited_working': 2,
    'professional_working': 3,
    'full_professional': 4,
    'native_or_bilingual': 5
}


languages.loc[:, 'proficiency'] = languages.loc[:, 'proficiency'].map(lang_rank)

In [99]:
lang = languages[languages['language'].notnull() & languages['proficiency'].notnull()]

lang['language'] = tr_eng(lang['language'])


lang_conv = {
    '(?i).*(ENGLISH|ENGLISHCH|ENGLISCH|ING|INGILICE|INGILIZ|INGILIZE|INGILIZICE|INGILILIZCE|INGLIZCE|INGILIZCE).*': 'ENGLISH',
    '(?i).*(ALMANCA|GERMAN|DEUTSCH).*': 'GERMAN',
    '(?i).*(FRANSIZCA|FRENCH|FRANCAIS|FRANCE|FRANSIZ|FRANZOSISCH).*': 'FRENCH',
    '(?i).*(ISPANYOLCA|SPANISH|ESPAÑOL|ESPANOL|SPANI).*': 'SPANISH',
    '(?i).*(ARAPCA|ARABIC|ARABISH).*': 'ARABIC',
    '(?i).*(RUSCA|RUSSIAN|RUSSE).*': 'RUSSAIN',
    '(?i).*(TURKCE|TURKISH|TURKISCH|TURK|TURKCE).*': 'TURKISH',
    '(?i).*(ITALIAN|ITALYANCA|ITALIANO|ITALIEN).*': 'ITALIAN',
    '(?i).*(JAPANESE|JAPONCA).*': 'JAPANESE',
}

lang['language'] = lang['language'].replace(lang_conv, regex=True)
lang = lang[lang['language'].isin(lang_conv.values())]

#lang_used = lang['language'].value_counts().iloc[:5].index
#lang = lang[lang['language'].isin(lang_used)]

lang = lang.drop_duplicates(['user_id', 'language'])
lang = pd.pivot(lang, index='user_id', columns='language', values='proficiency')
lang = lang.fillna(0).astype(int)
lang

language,ARABIC,ENGLISH,FRENCH,GERMAN,ITALIAN,JAPANESE,RUSSAIN,SPANISH,TURKISH
user_id,,,,,,,,,
8,0,4,1,0,0,0,0,0,5
11,0,3,0,0,0,0,0,0,5
12,0,3,0,0,0,0,0,0,5
13,0,4,0,2,0,0,0,0,0
14,0,3,0,0,0,0,0,0,5
...,...,...,...,...,...,...,...,...,...
66254,0,4,1,3,0,0,0,1,0
66255,0,3,0,1,0,0,0,0,5
66262,0,4,0,0,0,0,0,0,0
66272,0,3,0,0,0,0,0,0,0
66273,0,3,0,1,0,0,0,0,5

In [100]:
lang_point = languages.groupby(['user_id']).agg({'proficiency':sum})

languages = languages.groupby(['user_id']).count()
languages.drop(['proficiency'], inplace=True, axis=1)
languages.rename(columns = {'language':'numbers_of_languages'}, inplace=True)
languages = languages.merge(lang_point, how='inner', on = ['user_id'])
languages

         numbers_of_languages  proficiency
user_id
8                           3         10.0
10                          1          0.0
11                          3         13.0
12                          2          8.0
13                          2          6.0
...                       ...          ...
66265                       1          0.0
66269                       1          0.0
66271                       1          0.0
66272                       1          3.0
66273                       3          9.0

[37290 rows x 2 columns]

## Editing Skills Data

In [101]:
skills = pd.read_csv('/kaggle/input/garanti-bbva-data-camp/skills.csv')

In [102]:
skills['skill'] = tr_eng(skills['skill'])

used_skills = skills['skill'].value_counts().iloc[:20].index # we only took most common 20 skills, you can increase it

skill = skills[skills['skill'].isin(used_skills)]
skill['experience'] = True

skill = skill.drop_duplicates(['user_id', 'skill'])
skill = pd.pivot(skill, index='user_id', columns='skill', values='experience')
skill = skill.fillna(0).astype(int)
skill.head()

skill,.NET,ASP.NET,ASP.NET MVC,C,C#,C++,CSS,GIT,HTML,HTML5,JAVA,JAVASCRIPT,JQUERY,LINUX,MICROSOFT OFFICE,MICROSOFT SQL SERVER,MYSQL,PYTHON,SOFTWARE DEVELOPMENT,SQL
user_id,,,,,,,,,,,,,,,,,,,,
2,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0
7,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,1,0,0,1
10,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
11,0,0,0,1,1,0,1,1,1,0,1,1,0,1,0,1,1,1,1,1
12,0,0,0,0,0,0,1,0,1,0,1,1,0,0,0,1,1,0,0,1

In [103]:
skills = skills.groupby(['user_id']).count()
skills.rename(columns = {'skill':'numbers_of_skills'}, inplace=True)

## Editing Education Datas

In [104]:
education = pd.read_csv('/kaggle/input/garanti-bbva-data-camp/education.csv')

In [105]:
education = education[education['school_name'].notnull() & education['degree'].notnull()]


education['school_name'] = tr_eng(education['school_name'])


uni_list = ["ORTA DOGU TEKNIK UNIVERSITESI","YILDIZ TEKNIK UNIVERSITESI","GEBZE TEKNIK UNIVERSITESI","ISTANBUL TEKNIK UNIVERSITESI","KARADENIZ TEKNIK UNIVERSITESI","KARADENIZ TECHNICAL UNIVERSITY","ESKISEHIR TEKNIK UNIVERSITESI","DOGU AKDENIZ UNIVERSITESI","BOGAZICI UNIVERSITESI / BOGAZICI UNIVERSITY"]
new_uni_list = ["MIDDLE EAST TECHNICAL UNIVERSITY","YILDIZ TECHNICAL UNIVERSITY","GEBZE TECHNICAL UNIVERSITY","ISTANBUL TECHNICAL UNIVERSITY","BLACKSEA TECHNICAL UNIVERSITY","BLACKSEA TECHNICAL UNIVERSITY","ESKISEHIR TECHNICAL UNIVERSITY","EASTERN MEDITERRANEAN UNIVERSITY","BOGAZICI UNIVERSITY"]

c = 0
for i in uni_list:
    education.loc[education['school_name'].str.contains(i,na=False),'school_name'] = new_uni_list[c]
    c += 1
    
education['school_name'] = education['school_name'].str.replace('UNIVERSITESI', 'UNIVERSITY')

education = education[education["school_name"].str.contains("UNIVERSITY")]

In [106]:
education['degree'] = tr_eng(education['degree'])


list_lisans = ["Bachelor of Science (B.Sc.)","Engineer's degree","Lisans ","Lisans Derecesi","Bachelor's degree","Lisans","Bachelor of Science - BS","Bachelor of Science (BS)","Bachelor of Engineering - BE","Bachelor of Science (BSc)","Licentiate degree","Bachelor's Degree","Mühendislik Fakültesi Mezunu","Mühendislik Fakültesi","Bachelor’s Degree","BS","Bachelor of Engineering (B.E.)","Bachelor of Science (B.S.)","lisans","Bachelor of Engineering (B.Eng.)","Bachelor of Business Administration - BBA","BSc","İşletme Fakültesi","Bachelor of Engineering (BEng)","Lisans","İşletme Fakültesi Mezunu","Bachelor of Business Administration (B.B.A.)"]
list_onlisans = ["Önlisans","Ön Lisans","Associate's degree","Yüksekokul Mezunu","Ön lisans","önlisans"]
list_yukseklisans = ["Yüksek Lisans (Master)","Master's degree","Master of Science - MS","İşletme Yüksek Lisans Programı (MBA)","Master of Science (MSc)","Master of Science (M.Sc.)","Master of Business Administration - MBA","Master’s Degree","Master of Business Administration (M.B.A.)","Master of Business Administration (MBA)","Master's Degree","Yüksek Lisans","Master of Science (MS)","Master of Engineering - MEng","Master","MSc","Master of Science (M.S.)"]
list_doktora = ["Doctor of Philosophy - PhD","Doctor of Philosophy (Ph.D.)","Doktora (Dr.)","Doctor of Philosophy (PhD)"]

#for i in list_yukseklisans:
#education = education.loc["degree"].replace(to_replace = "Lisans Derecesi", value = "3")

        
for i in list_onlisans:
    i = tr_eng_str(i)
    education.loc[education["degree"] == i,['degree']] = 'ASSOCIATE'
    
for i in list_yukseklisans:
    i = tr_eng_str(i)
    education.loc[education["degree"] == i,['degree']] = 'MASTER'
    
for i in list_lisans:
    i = tr_eng_str(i)
    education.loc[education["degree"] == i,['degree']] = 'BACHELOR'

for i in list_doktora:
    i = tr_eng_str(i)
    education.loc[education["degree"] == i,['degree']] = 'PHD'

edu = ['ASSOCIATE','BACHELOR','MASTER','PHD']
education = education[education['degree'].isin(edu)]

In [107]:
educations = education

educations = educations.drop_duplicates(['user_id', 'degree'])

educations = educations.drop_duplicates(['user_id', 'degree'])
educations = pd.pivot(educations, index='user_id', columns='degree', values='school_name')

In [108]:
education.drop(['degree','fields_of_study','start_year_month','end_year_month'], inplace=True, axis=1)

education = education.groupby(['user_id']).count()
education.rename(columns = {'school_name':'numbers_of_schools'}, inplace=True)

In [109]:
df = df.merge(work_experiences, how='left', on = ['user_id']).merge(skills, how='left', on = ['user_id']).merge(skill, how='left', on = ['user_id']).merge(lang, how='left', on = ['user_id']).merge(languages, how='left', on = ['user_id']).merge(education, how='left', on = ['user_id']).merge(educations, how='left', on = ['user_id'])

In [110]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 66274 entries, 1301 to 16036
Data columns (total 44 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   industry              66186 non-null  object
 1   location              66273 non-null  object
 2   moved_after_2019      53019 non-null  float64
 3   work_exp              53002 non-null  object
 4   last_date             53002 non-null  object
 5   numbers_work_change   53002 non-null  float64
 6   work_change_ratio     53002 non-null  float64
 7   numbers_of_skills     62402 non-null  float64
 8   .NET                  53554 non-null  float64
 9   ASP.NET               53554 non-null  float64
 10  ASP.NET MVC           53554 non-null  float64
 11  C                     53554 non-null  float64
 12  C#                    53554 non-null  float64
 13  C++                   53554 non-null  float64
 14  CSS                   53554 non-null  float64
 15  GIT                   53554 non-null  float64
 16  HTML                  53554 non-null  float64
 17  HTML5                 53554 non-null  float64
 18  JAVA                  53554 non-null  float64
 19  JAVASCRIPT            53554 non-null  float64
 20  JQUERY                53554 non-null  float64
 21  LINUX                 53554 non-null  float64
 22  MICROSOFT OFFICE      53554 non-null  float64
 23  MICROSOFT SQL SERVER  53554 non-null  float64
 24  MYSQL                 53554 non-null  float64
 25  PYTHON                53554 non-null  float64
 26  SOFTWARE DEVELOPMENT  53554 non-null  float64
 27  SQL                   53554 non-null  float64
 28  ARABIC                31012 non-null  float64
 29  ENGLISH               31012 non-null  float64
 30  FRENCH                31012 non-null  float64
 31  GERMAN                31012 non-null  float64
 32  ITALIAN               31012 non-null  float64
 33  JAPANESE              31012 non-null  float64
 34  RUSSAIN               31012 non-null  float64
 35  SPANISH               31012 non-null  float64
 36  TURKISH               31012 non-null  float64
 37  numbers_of_languages  37290 non-null  float64
 38  proficiency           37290 non-null  float64
 39  numbers_of_schools    48051 non-null  float64
 40  ASSOCIATE             4306 non-null   object
 41  BACHELOR              42351 non-null  object
 42  MASTER                16315 non-null  object
 43  PHD                   1923 non-null   object
dtypes: float64(36), object(8)
memory usage: 22.8+ MB

In [111]:
df['numbers_of_schools'].fillna(1, inplace=True)
df['numbers_of_languages'].fillna(1, inplace=True)
df['work_change_ratio'].fillna(1, inplace=True)
df['numbers_work_change'].fillna(1, inplace=True)
df['work_exp'].fillna(0, inplace=True)


mean_value=df['numbers_of_skills'].mean()
df['numbers_of_skills'].fillna(value=mean_value, inplace=True)


lista = [col for col in df.columns if df[col].isna().any()==True]
lista = lista[3:-4]

df[lista] = df[lista].fillna(-1)

In [112]:
df['location'].nunique()

96

In [113]:
# Import Label Encoder and train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split

encoder = LabelEncoder()

# Encode the features to integers inside a for loop
#for i in x.columns:
df['industry'] = encoder.fit_transform(df['industry'])
df['location'] = encoder.fit_transform(df['location'])
df['ASSOCIATE'] = encoder.fit_transform(df['ASSOCIATE'])
df['BACHELOR'] = encoder.fit_transform(df['BACHELOR'])
df['MASTER'] = encoder.fit_transform(df['MASTER'])
df['PHD'] = encoder.fit_transform(df['PHD'])

In [114]:
df_train = df[df['moved_after_2019'].notnull()]

list = ['moved_after_2019','work_exp','last_date']

for i in list:
    
    df_train[i] = df_train[i].astype(int)

In [115]:
# Import Logistic Regression, Ridge Classifier, Decision Tree
# Gaussian Naive Bayes, MLP Classifier and Random Forest models
from sklearn.linear_model import LogisticRegression, RidgeClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.neural_network import MLPClassifier
from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn import svm
from sklearn.neighbors import KNeighborsClassifier


from sklearn.model_selection import StratifiedKFold
from sklearn.model_selection import cross_val_score


from warnings import filterwarnings
filterwarnings('ignore')

# Import Classification Report function
from sklearn.metrics import classification_report

In [116]:
# Create the X variable for features
x = df_train.loc[:, [col for col in df_train.columns.values if col != 'moved_after_2019']]

# Create the y variable for output labels
y = df_train.loc[:,'moved_after_2019']


# Encode the ouput labels to integers
y = encoder.fit_transform(y)

In [117]:
# Split the dataset into train and test sets with 70-30 ratio
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3)

# Create an object using the LogisticRegression() class
logistic_classifier_model = LogisticRegression()

# Create an object using the RidgeClassifier() class
ridge_classifier_model = RidgeClassifier()

# Create an object using the DecisionTreeClassifier() class
decision_tree_model = DecisionTreeClassifier()

# Create an object using the GaussianNB() class
naive_bayes_model = GaussianNB()

# Create an object using the MLPClassifier() class
neural_network_model = MLPClassifier()

svm = svm.SVC()

knn = KNeighborsClassifier(n_neighbors=3)

xgboost_model = XGBClassifier()

gb_model = GradientBoostingClassifier()

rf_model = RandomForestClassifier()

In [118]:
# Train the Logistic Classifier model
logistic_classifier_model.fit(x_train, y_train)

# Train the Ridge Classifier model
ridge_classifier_model.fit(x_train, y_train)

# Train the Decision Tree model
decision_tree_model.fit(x_train, y_train)

# Train the Naive Bayes model
naive_bayes_model.fit(x_train, y_train)

# Train the Neural Network model
neural_network_model.fit(x_train, y_train)

svm.fit(x_train, y_train)

knn.fit(x_train, y_train)

xgboost_model.fit(x_train, y_train)

gb_model.fit(x_train, y_train)

rf_model.fit(x_train, y_train)

RandomForestClassifier()

In [119]:
from sklearn import neural_network
# Make prediction using the test dataset on Logistic Classifier model
logistic_pred = logistic_classifier_model.predict(x_test)

# Make prediction using the test dataset on Ridge Classifier model
ridge_pred = ridge_classifier_model.predict(x_test)

# Make prediction using the test dataset on Decision Tree model
tree_pred = decision_tree_model.predict(x_test)

# Make prediction using the test dataset on Naive Bayes model
naive_bayes_pred = naive_bayes_model.predict(x_test)

# Make prediction using the test dataset on Neural Network model
neural_network_pred = neural_network_model.predict(x_test)

svm_pred = svm.predict(x_test)

knn_pred = knn.predict(x_test)

xgboost_pred = xgboost_model.predict(x_test)

gb_model_pred = gb_model.predict(x_test)

rf_model_pred = rf_model.predict(x_test)

In [120]:
# Create a Classification Report for Logistic Classifier model
logistic_report = classification_report(y_test, logistic_pred)

# Create a Classification Report for Ridge Classifier model
ridge_report = classification_report(y_test, ridge_pred)

# Create a Classification Report for Decision Tree model
tree_report = classification_report(y_test, tree_pred)

# Create a Classification Report for Naive Bayes model
naive_bayes_report = classification_report(y_test, naive_bayes_pred)

# Create a Classification Report for Neural Network model
neural_network_report = classification_report(y_test, neural_network_pred)

svm_report = classification_report(y_test, svm_pred)

knn_report = classification_report(y_test, knn_pred)

xgboost_report = classification_report(y_test, xgboost_pred)

gb_model_report = classification_report(y_test, gb_model_pred)

rf_model_report = classification_report(y_test, rf_model_pred)

In [121]:
# Print the report of the Logistic Regression model
print('***** Logistic Regression *****')
print(logistic_report)
# Print the report of the Ridge Regression model
print('***** Ridge Regression *****')
print(ridge_report)
# Print the report of the Decision Tree model
print('***** Decision Tree *****')
print(tree_report)
# Print the report of the Naive Bayes model
print('***** Naive Bayes *****')
print(naive_bayes_report)
# Print the report of the Neural Network model
print('***** Neural Network *****')
print(neural_network_report)

print('***** XGBClassifier *****')
print(xgboost_report)

print('***** Support Vector Machines *****')
print(svm_report)

print('***** KNeighborsClassifier *****')
print(knn_report)

print('***** GradientBoostingClassifier *****')
print(gb_model_report)

print('***** RandomForestClassifier *****')
print(rf_model_report)

***** Logistic Regression *****
              precision    recall  f1-score   support

           0       0.63      0.92      0.75      9661
           1       0.56      0.16      0.25      6245

    accuracy                           0.62     15906
   macro avg       0.60      0.54      0.50     15906
weighted avg       0.60      0.62      0.55     15906

***** Ridge Regression *****
              precision    recall  f1-score   support

           0       0.64      0.90      0.75      9661
           1       0.57      0.21      0.30      6245

    accuracy                           0.63     15906
   macro avg       0.61      0.55      0.53     15906
weighted avg       0.61      0.63      0.57     15906

***** Decision Tree *****
              precision    recall  f1-score   support

           0       0.77      0.76      0.76      9661
           1       0.64      0.65      0.64      6245

    accuracy                           0.72     15906
   macro avg       0.70      0.70      0.70     15906
weighted avg       0.72      0.72      0.72     15906

***** Naive Bayes *****
              precision    recall  f1-score   support

           0       0.72      0.43      0.54      9661
           1       0.46      0.74      0.56      6245

    accuracy                           0.55     15906
   macro avg       0.59      0.58      0.55     15906
weighted avg       0.62      0.55      0.55     15906

***** Neural Network *****
              precision    recall  f1-score   support

           0       0.62      0.97      0.76      9661
           1       0.66      0.09      0.15      6245

    accuracy                           0.62     15906
   macro avg       0.64      0.53      0.46     15906
weighted avg       0.64      0.62      0.52     15906

***** XGBClassifier *****
              precision    recall  f1-score   support

           0       0.71      0.86      0.78      9661
           1       0.68      0.46      0.54      6245

    accuracy                           0.70     15906
   macro avg       0.69      0.66      0.66     15906
weighted avg       0.70      0.70      0.69     15906

***** Support Vector Machines *****
              precision    recall  f1-score   support

           0       0.61      1.00      0.76      9661
           1       0.00      0.00      0.00      6245

    accuracy                           0.61     15906
   macro avg       0.30      0.50      0.38     15906
weighted avg       0.37      0.61      0.46     15906

***** KNeighborsClassifier *****
              precision    recall  f1-score   support

           0       0.73      0.76      0.75      9661
           1       0.60      0.56      0.58      6245

    accuracy                           0.68     15906
   macro avg       0.67      0.66      0.66     15906
weighted avg       0.68      0.68      0.68     15906

***** GradientBoostingClassifier *****
              precision    recall  f1-score   support

           0       0.66      0.89      0.76      9661
           1       0.63      0.30      0.41      6245

    accuracy                           0.66     15906
   macro avg       0.65      0.59      0.58     15906
weighted avg       0.65      0.66      0.62     15906

***** RandomForestClassifier *****
              precision    recall  f1-score   support

           0       0.76      0.89      0.82      9661
           1       0.77      0.56      0.65      6245

    accuracy                           0.76     15906
   macro avg       0.76      0.73      0.73     15906
weighted avg       0.76      0.76      0.75     15906

In [122]:
clf = RandomForestClassifier(n_estimators=200, class_weight='balanced_subsample', random_state=42)
cv  = StratifiedKFold(shuffle=True, random_state=42)

scores = cross_val_score(clf, x, y, cv=cv, scoring='accuracy')
print(f'Scores mean: {np.mean(scores):.4f}')

Scores mean: 0.7718

In [124]:
test_x = df[df['moved_after_2019'].isnull()]
test_x.drop(['moved_after_2019'], inplace=True, axis=1)


list = ['work_exp','last_date']

for i in list:
    
    test_x[i] = test_x[i].astype(int)

In [125]:
# Create Random Forest Classifier object, train it and make predicitons
random_forest_model = RandomForestClassifier()
random_forest_model.fit(x,y)
submission.loc[test_x.index, "moved_after_2019"] = random_forest_model.predict(test_x)
submission["moved_after_2019"] = submission["moved_after_2019"].astype(int)
submission["moved_after_2019"].value_counts()

0    9263
1    3992
Name: moved_after_2019, dtype: int64

In [126]:
submission.to_csv('submission.csv', index=False)